* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.network h1 {
  font-size: 50px;
}
.network {
  margin: 10px;
  padding: 20px;
  /* border: 1px solid rgb(179, 179, 179); */
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgb(228, 228, 228);
}

#ChargingLevel {
  min-width: 100px;
  min-height: 40px;
  border: solid 2px black;
  color: rgb(255, 255, 255);
}

#ChargingLevel div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  min-height: 40px;
  background-color: rgb(21, 221, 21);
}
